---
layout: layouts/main.liquid
title: Posts
---
<div class="ui grid">
  <div class="ui row">
    <div class="three wide right aligned column">
      <h1 class="ui page header">
        {{ title }}
      </h1>
    </div>
  </div>
  {%- for post in collections.post reversed -%}
    <div class="ui row">
      <div class="four wide right aligned column">
        {{ post.date | date: "%b %d, %Y" }}
      </div>
      <div class="twelve wide column">
      <div class="field">
        <div class="ui header">
          <a class="item" href="/{{ post.data.permalink  }}">{{ post.data.title }}</a>
        </div>
      </div>
      <div class="field">
        {%- for tag in post.data.tags -%}
          {%- if tag != "post" -%}
            <a class="ui medium label" href="/tags/{{ tag }}">
              <i>{{ tag }}</i>
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
      </div>
    </div>
  {%- endfor -%}
</div>

