---
layout: layouts/main.liquid
title: Notes
notefiles:
  - title: "Probability"
    link: "https://subsid.github.io/notes/dist/probability.html"
  - title: "Learning from Data"
    link: "https://subsid.github.io/notes/dist/learning-from-data.html"
  - title: "Mining of Massive Datasets"
    link: "https://subsid.github.io/notes/dist/mmds.html"
---

<div class="ui grid">
  <div class="ui row">
    <div class="two wide column">
    </div>
    <div class="fourteen wide column">
      <h1 class="ui page header">
        {{ title }}
      </h1>
    </div>
  </div>
  {%- for note in collections.notes -%}
    <div class="ui row">
      <div class="four wide right aligned column">
        {{ note.date | date: "%b %d, %Y" }}
      </div>
      <div class="twelve wide column">
      <div class="field">
        <div class="ui header">
          <a class="item" href="/{{ note.data.permalink  }}">{{ note.data.title }}</a>
        </div>
      </div>
      <div class="field">
        {%- for tag in note.data.tags -%}
          {%- if tag != "post" -%}
            <a class="ui medium label" href="/tags/{{ tag }}">
              <i>{{ tag }}</i>
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
      </div>
    </div>
  {%- endfor -%}
</div>

